.container {
  max-width: 580px;
  margin: 0 auto;
  /*make it centered : top right, bottom l*/ }

footer,
#ghlink {
  margin-top: 60px; }

h3,
h4,
.margin,
header {
  margin-bottom: 10px;
  margin-top: 40px; }

li {
  float: left;
  margin: 0 15px; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid #ff0000; }

th {
  border: 2px solid #000000; }

td {
  border: 1px solid #000000; }
